<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="top">
        <ul id="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/performers">Top Performers</a></li>
            <li><a href="/welcome">Welcome</a></li>
            <li><a href="/stock_analysis">Stock Analysis</a></li>
        </ul>
    <a href="/profile"><div class="profile-image"></div></a>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 15px;">
        <img style="height:500px; width:500px;" src="{% static 'Logo maker project-2.png' %}">
    </div>
    <div style="display: flex; justify-content: center; margin: 15px 15%;">
        <p style="font-size: 30px;">At FINU, our mission is to empower individuals to take control of their financial future by providing accessible, personalized tools and expert guidance to build and grow personal wealth. We are committed to fostering financial literacy, smart investing, and strategic savings, helping our clients create a path to lasting financial security and prosperity. Through innovation and education, we aim to simplify wealth management, enabling people from all walks of life to achieve their financial goals and live a life of abundance.</p>
    </div>
</body>
</html>