<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'sell.css' %}">
</head>
<body>
    <div class="top">
        <ul class="menu">
            <li><a href="/home">Home</a></li>
            <li class="dropdown">
                <a href="/portfolio">Portfolio</a>
                <ul class="dd-content">
                    <li><a href="/sell">Sell</a></li>
                    <li><a href="/buy">Buy</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/transactions">Transactions</a>
                <ul class="dd-content">
                    <li><a href="/reccomendations">Reccomendations</a></li>
                    <li><a href="/profit">Profit</a></li>
                </ul>
            </li>
        </ul>
    <a href="/settings"><button>Settings</button></a>
    <a href="/profile"><div class="profile-image"></div></a>
    </div>