<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'welcome.css' %}">
</head>
<body>
    <div class="top">
        <ul id="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/performers">Top Performers</a></li>
            <li><a href="/welcome">Welcome</a></li>
            <li><a href="/stock_analysis">Stock Analysis</a></li>
        </ul>
    <a href="/profile"><div class="profile-image"></div></a>
    </div>
    <h2 class="welcome">Welcome {{ user_data.name }}</h2>
    <div class="goals">
        <h3>Here are some goals you set</h6>
        <ul>
            <li><div><h2>{{ user_data.goal1 }}</h2><img style="width: 150px; height: 150px;" src="{% static 'pngtree-never-give-up-motivation-poster-concept-black-and-white-illustration-png-image_2154318.jpg' %}"></div></li>
            <li><div><h2>{{ user_data.goal2 }}</h2><h2><img style="width: 150px; height: 150px;" src="{% static 'Untitled.png' %}"></h2></div></li>
            <li><div><h2>{{ user_data.goal3 }}</h2><h2><img style="width: 150px; height: 150px;" src="{% static 'Untitled1.png' %}"></h2></div></li>
        </ul>
    </div>
    <h3>Top Stocks</h3>

    <div class="stocks">
        {% for chart in charts %}
            <div class="images"><h2>Stock</h2><img src="data:image/png;base64,{{ chart }}" alt="Chart {{ forloop.counter }}"></div>
        {% endfor %}
    </div>
</body>
</html>