body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    column-gap: 100px;
    background: lightgrey;
}

h1, div{
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    margin: 5% 15%;
    padding: 10px;
    background-color: black;
    color: rgb(25, 185, 25);
    border-radius: 20px;
}

input {
    display: flex;
    justify-content: center;
    margin: 0 15%;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
}

.income, .risk{
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 25px;
}

.inc div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

button, a{
    display: flex;
    margin: 3% 15%;
    flex-basis: 50px;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background-color: black;
    color: lightgreen;
    border-radius: 15px;
    align-items: stretch;
    
}

button {
    border: none;
}